.page-section {
  padding: 1.5rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--blue {
    background-color: $mainBlue;
    color: white;
  }

  &--centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
