.page-section {
  padding: 1.5rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--blue {
    background-color: $mainBlue;
    color: white;
  }

  &--centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &--testimonials {
    background-color: #c3dae6;

    @mixin atLarge {
      background: url("../../assets/images/testimonials-bg.jpg") top center
        no-repeat;
      background-size: cover;
    }
  }
}
